---
Language: Cpp
BasedOnStyle: Google

ColumnLimit: 80
IncludeBlocks: Regroup

FixNamespaceComments: true
EmptyLineBeforeAccessModifier: Always

ContinuationIndentWidth: 2
UseTab: Never

AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None

InsertNewlineAtEOF: true
...
